.place-card__attributes{
<<<<<<< develop
=======
    /*max-height: 21px;*/
    /*height: unset;*/
>>>>>>> master
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}